{% extends "layout.html" %}

{% block content %}
    <h1>Carrossel de Imagens</h1>

          <div class="gallery">
            <div id="preview-container">
              <i id="prev-preview" class="gg-chevron-left preview-arrow"></i>
              <img id="preview" src="" alt="Preview Image">
              <i id="next-preview" class="gg-chevron-right preview-arrow"></i>
              <div id="image-number"></div>
            </div>
            <div class="wrapper">
              <i id="left" class="gg-chevron-left"></i>
              <div id="carousel">
                {% for item in itens %}
                <img src="{{ url_for('item_bp.imagem_item', item_id=item.id) }}" alt="{{ item.nome }}" class="imagem"/>
                {% endfor %}
                <img src="static/carousel/images/img-1.jpg" alt="img" draggable="false">
                <img src="static/carousel/images/img-2.jpg" alt="img" draggable="false">
                <img src="static/carousel/images/img-3.jpg" alt="img" draggable="false">
                <img src="static/carousel/images/img-4.jpg" alt="img" draggable="false">
                <img src="static/carousel/images/img-5.jpg" alt="img" draggable="false">
                <img src="static/carousel/images/img-6.jpg" alt="img" draggable="false">
              </div>
              <i id="right" class="gg-chevron-right"></i>
            </div>
          </div>
{% endblock %}

{% block head %}
  <title>Carrosel de Imagens</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel/style.css') }}">
  <script src="{{ url_for('static', filename='carousel/script.js') }}" defer></script>
{% endblock %}
