{% extends "layout.html" %}

{% block content %}
    <h1>Adicionar, Editar e Remover Presentes</h1>
    <button><a href="{{ url_for('item_bp.adicionar_item') }}">Adicionar Item</a></button>
    <ul class="item-list">
        {% for item in itens %}
            <li class="zoomable" id="list">
                <img src="{{ url_for('item_bp.imagem_item', item_id=item.id) }}" alt="{{ item.nome }}" class="imagem"/>
                <p>{{ item.nome }}</p>
                <p>{{ item.valor }}</p>
                <button>
                    <a href="{{ url_for('compra_bp.compra', item_id=item.id) }}">Comprar</a>
                </button>
                <br>
                <button id="editar">
                    <a href="{{ url_for('item_bp.editar_item', item_id=item.id) }}">Editar</a>
                </button>
                <form id="form-excluir" method="post" action="{{ url_for('item_bp.excluir_item', item_id=item.id) }}">
                    {{ form.hidden_tag() }}
                    <button id="excluir" type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

<script>
    document.getElementById('excluir').addEventListener('click', function() {
        var confirmacao = confirm('Quer mesmo excluir?');
        if (!confirmacao) {
            event.preventDefault();  // Impede o envio do formulário se o usuário cancelar
        }
        else {
            alert ("Excluído!")
        }
    });
</script>
{% endblock %}

{% block head %}
    <title>Admin - Lista de Itens</title>
{% endblock %}